<div class="OLSKCrown OLSKToolbar OLSKToolbarJustify OLSKStickyHeader OLSKCommonEdgeBottom">
	<div class="OLSKCrownCard OLSKCommonCard OLSKCommonCrownCardMini">
		<img class="OLSKCrownCardImage" src="<%= OLSKCrownCardImageURL %>" role="presentation" />
		<section>
			<span class="OLSKCrownCardName"><%= OLSKCrownCardNameText %></span>
		</section>
	</div>

	<%- include(`${ locals.OLSKCrown_DebugModulesFolder || '..' }/OLSKLanguageSwitcher/main.ejs`) %>
</div>